body 
{

    font-family: sans-serif;
    
    text-align: center;
    
    text-shadow: 2px 2px 4px #6e1e68;
    
    color: #d377bf;
    
    font-size: 30px;
    
    margin-top: 50px;
    
    background-color: #b560ca;
    
    display: flex;
    
    flex-direction: column;

    align-items: center;
    
    grid-template-columns: repeat(2, auto);
}
    
    button {
    
    margin: 5px;
    
    padding: 15px 15px;
    
    font-size: 20px;
    
    border-color: azure;
    
    background-color: #d600a8;
    
    color: rgba(236, 180, 229, 0.753);
    
    cursor: pointer;
    }